{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block location %}
<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-12">
      <nav style="--bs-breadcrumb-divider: '→';" aria-label="breadcrumb">
        <ol class="breadcrumb pt-1">
          <li class="breadcrumb-item align-middle">
            <a href="{% url 'home' %}" class="text-decor text-muted">Home</a>
          </li>
          <li class="breadcrumb-item dark-text-color" aria-current="page">
            Shopping Cart
          </li> 
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row px-1 px-md-5">
      <div class="col">
        <div class="card product-card mb-3">
          <div class="container">
            <div class="row">
              <div class="cart-body py-3">
                <h2>Shopping Cart</h2>
                {% if cart_items %}
                  <table class="table align-middle">
                    <thead>
                      <tr>
                        <th class="d-none d-md-table-cell">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col" class="d-none d-md-table-cell">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cart_items %}
                        <tr>
                          <th class= "d-none d-md-table-cell w-10">
                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                          </th>
                          <th>
                            <h3 class="fs-5">{{ item.product.name }}</h>
                            <p class="text-muted fs-6">{{ item.product.sku|upper }}</p>
                          </th>
                          <td class="d-none d-md-table-cell">{{ item.product.price }} &euro;</td>
                          <td>
                            <form class="update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                              {% csrf_token %}
                              <input type="number" class="form-control qty-input mb-1 rounded-1"
                                name="quantity" value="{{ item.quantity }}" min="1" max="99">
                            </form>  
                            <a class="curs-ponter submit-link text-info text-decor">
                              <small>Update</small>
                            </a>
                            
                          
                          </td>
                          <td>{{ item.product.price | calc_subtotal:item.quantity }} &euro;</td>
                          <td>
                            <a class="curs-ponter remove-item text-danger text-decor"
                              id="remove_{{ item.item_id }}">
                              <small>X</small>
                          </a>
                        </td>
                        </tr>
                      {% endfor %}
                        <tr> 
                          <th scope="row" class="d-none d-md-table-cell" colspan="4">
                            <p>Total</p>
                            <p class="text-muted">
                              <small>
                                Delivery 
                                <span class="ms-3 text-danger fw-normal">
                                  {% if free_delivery_delta > 0 %}
                                    To get free shipping, spend an additional 
                                    <strong>${{ free_delivery_delta }} &euro;</strong>!
                                  {% endif %}          
                                </span>
                              </small>
                            </p>
                            <p>Order Total</p>
                          </th>
                          <th scope="row" class="d-md-none" colspan="3">
                            <p>Total</p>
                            <p class="text-muted">
                              <small>
                                Delivery 
                                <span class="ms-3 text-danger fw-normal">
                                  {% if free_delivery_delta > 0 %}
                                    To get free shipping, spend an additional 
                                    <strong>${{ free_delivery_delta }} &euro;</strong>!
                                  {% endif %}          
                                </span>
                              </small>
                            </p>
                            <p>Order Total</p>
                          </th>
                          <td>
                            <p>{{ total | floatformat:2}} &euro;</p>
                            <p><small>{{ delivery | floatformat:2}} &euro;</small></p>
                            <p><strong>{{ grand_total | floatformat:2 }} &euro;</strong></p>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                  <a href="{% url 'products' %}" class="btn btn-outline-secondary">Continue Shopping</a>
                  <a href="#" class="btn btn-color float-end">Checkout</a>
                {% else %}  
                  <p class="mt-2">You have no items in your cart.</p>
                  <a href="{% url 'products' %}" class="btn btn-outline-secondary">Browse Products</a>
                {% endif %}
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>  
  
  <script>
    // Update quantity on click
    $('.submit-link').click(function(e) {
          var form = $(this).prev('.update-form');
          form.submit();
    });


    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })


  </script>
{% endblock %}
