{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 hero-image position-relative">
  <div class="row h-100">
    <div class="col-8 mx-auto my-2">
      <h2 class="display-6 text-white text-center text-uppercase mt-3">
        Accessories for your car
      </h2>
      <a href="" class="btn btn-lg btn-clolor-home rounded-1 text-white
        position-absolute bottom-0 start-50 translate-middle">
        SHOP NOW
      </a>
    </div>
  </div>
</div>

{% endblock %}
