:root {
    --font-display-font: 'Rubik', sans-serif;
    --main-bg-color: #f7f7f7;
    --color-primary: #333333;
    --color-secondary: #007bff;
    --color-white: rgba(255, 255, 255, 1);
    --color-gray: rgb(224,224,224);
    --button-color: #28a745;
    --color-red: #ff4136;
    --color-black: #000103;
    --color-off-white: rgba(255, 255, 255, 0.8);
    --color-text: #666666;
    --color-header: #333333;
}

html {
    height: 100%;
}


main {
    background-color: var(--main-bg-color);
    min-height: calc(100vh - 200.5px);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display-font);
    color: var(--color-header);
}

ol {
    margin-bottom: 0 !important;
}

.dark-text-color {
    color: var(--color-header);
}

.navbar {
    background-color: var(--color-primary);
    color: var(--color-off-white)
}

.navbar-brand {
    color: var(--color-off-white);
    font-family: var(--font-display-font);
    text-transform: uppercase;
    font-size: 1.6rem;
}

.search-box {
    background-color: var(--color-off-white) !important;
    border-color: var(--color-off-white) !important;
}

.color-logo-l {
    color: var(--color-red);
}

.cart-color {
    color: var(--button-color) !important;
}

.btn-search {
    border-color: var(--color-off-white) !important;
}

.btn-color,
.btn-home-color {
    background-color: var(--button-color) !important;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-home-color:hover{
    background-color: var(--color-black) !important;
    border-color: var(--color-secondary) !important;
    color: var(--color-white) !important;
}

.btn-color:hover {
    color: var(--color-white) !important;
    background-color: #1bbc40fd !important;
}

.z-index {
    z-index: 2;
}

.text-white {
    color: var(--color-off-white) !important;
}

.text-decor {
    text-decoration: none;
}

.text-decor:hover {
    text-decoration: underline;
}

.text-click:hover,
.btn-search:hover,
.cart-color:hover,
.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--color-secondary) !important;
}

.padding-t {
    padding-top: 1.5rem !important;
}

.curs-ponter {
    cursor: pointer;
}

.dropdown-toggle:hover,
.nav-link:hover,
footer a:hover,
.dropdown-toggle:focus,
.nav-link:focus,
footer a:focus
{
    color: var(--color-secondary);
}

.dropdown-item:hover {
    background-color:  var(--color-gray);
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

.btn-search,
footer a, 
.nav-link,
.burger-icon {
    color: var(--color-off-white);
}

footer a {
    text-decoration: none;
}

#div_id_visible_to_customers {
    display: none !important;
  }


.w-10 {
    width: 10% !important;
}

.w-60 {
    width: 60% !important; 
}


/* Footer Styles */
footer {
    background-color: var(--color-primary);
    color: var(--color-off-white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.9rem;
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
    width: 100%;
    height: auto;
}

footer ul {
    list-style: none;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer li {
    display: inline;
    padding: 0 1rem;
}

footer i:hover {
    transform: scale(1.3);
  }

.footer-socials li i {
    color: inherit;
}


/* Images */
.hero-image {
    background: url('/media/image-hero.jpg') no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 64px);
}

/* Cards */
.card {
    max-width: 94%;
    margin: 0 auto;
}

.bg-price-color {
    background-color: var(--main-bg-color);
    padding: 0 4% 1% 4%; 
    border-radius: 4px;
    display: inline-block;
}

/* Forms */
.form-w-50 {
    max-width: 50%;
} 

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999 !important;
}

.custom-toast {
    overflow: visible;
    width: fit-content !important;
}

/*Mailchimp*/
#mc_embed_signup { 
    clear:left;  
    max-width: 600px;
}

#mce-EMAIL {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}

/* Media Query for Large Screens */
@media screen and (min-width: 1200px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #footer-nav {
        flex-direction: column;
    }
}


/* Media Queries for Small Screens */
@media screen and (min-width: 767px) {
    footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    main {
        font-size: small !important;
    }

    .card {
        max-width: 100%;
    }

    .padding-t {
        padding-top: 0 !important;
    }
}
