<footer>
    <!-- Footer Opening Hours & Email -->
    <div class="footer-section">
      <a href="#">Subscribe to the Newsletter</a>
      <br/>
      <br/>
      <a href="#">Contact US</a>
    </div>
    <!-- Footer Nav Links -->
    <div class="footer-section">
      <ul id="footer-nav">
        <li>
          <a href="{% url 'products' %}">All Accesories</a>
        </li>
        <li>
          <a href="#">Catalogue</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <!-- Social Media Links -->
    <div class="footer-section">
      <ul class="footer-socials">
        <li>
          <a href="https://www.facebook.com"
             target="_blank"
             rel="noopener"
             aria-label="Visit our Facebook page (opens in a new tab)">
              <i class="fa-brands fa-square-facebook fa-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com"
             target="_blank"
             rel="noopener"
             aria-label="Visit our Twitter page (opens in a new tab)">
             <i class="fa-brands fa-square-twitter fa-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com"
             target="_blank"
             rel="noopener"
             aria-label="Visit our Instagram page (opens in a new tab)">
             <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com"
             target="_blank"
             rel="noopener"
             aria-label="Visit our Tiktok (opens in a new tab)">
             <i class="fa-brands fa-tiktok fa-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://https://github.com/satogako/CarGadgetWorld"
             target="_blank"
             rel="noopener"
             aria-label="Visit our Tiktok (opens in a new tab)">
             <i class="fa-brands fa-square-github fa-xl"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>