{% extends "base.html" %}

{% load i18n %}

{% block location %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav style="--bs-breadcrumb-divider: '→';" aria-label="breadcrumb">
        <ol class="breadcrumb pt-1">
          <li class="breadcrumb-item align-middle">Sign Up</li>
          <li class="breadcrumb-item dark-text-color" aria-current="page">
            Confirm email
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row px-5">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card product-card my-3">
        <div class="container">
          <div class="row">
            <div class="card-body">
              <h2>{% trans "Verify Your E-mail Address" %}</h2>

              <p>
                {% blocktrans %}
                  We have sent an e-mail to you for verification.
                  Follow the link provided to finalize the signup process.
                  If you do not see the verification e-mail in your main inbox, 
                  check your spam folder. Please contact us if you do not receive 
                  the verification e-mail within a few minutes.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
