{% extends "base.html" %}
{% load static %}

{% block location %}
	<div class="container-fluid mb-2">
		<div class="row">
			<div class="col-12">
				<nav style="--bs-breadcrumb-divider: '→';" aria-label="breadcrumb">
					<ol class="breadcrumb pt-1">
						<li class="breadcrumb-item align-middle">
							<a href="{% url 'home' %}" class="text-decor text-muted">Home</a>
						</li>
						<li class="breadcrumb-item dark-text-color" aria-current="page">
							Edit a Product
						</li> 
					</ol>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-7">
				<div class="card p-2 mb-3">
					<div class="card-body py-3">
						<div class="row">
							<h2 class="mb-4">Product Management</h2>
							<h3 class="text-muted fs-4">Edit a Product</h3>
						</div>
						<div class="row">
							<form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
								{% csrf_token %}
								{{ form | crispy }}
								<div class="text-end">
									<a class="btn btn-outline-secondary" href="{% url 'products' %}">Cancel</a>
									<button class="btn btn-color" type="submit">Edit Product</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}