{% extends "base.html" %}
{% load static %}
{% block page_header %}
	<div class="container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h2>Products</h2>
				<hr />
			</div>
		</div>
		<div class="row px-5">
			<div class="col">
				<div class="row">
					{% for product in products %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div class="card product-card mb-3">
								<a href="{% url 'product_detail' product.id %}">
                  <img src="{{ product.image_link }}"
                    class="card-img-top pt-3 px-3"
                    alt="{{ product.name }}"/>
								</a>
								<div class="card-body">
									<p class="card-title text-uppercase">{{ product.brand.get_display_name }}</p>
									<a href="{% url 'product_detail' product.id %}" class="text-reset text-decor">
										<h3 class="card-text fs-5">{{ product.name }}</h3>
									</a>
									<p class="text-muted">SKU: {{ product.sku }}</p>
                  {% if product.auto_brand %}
                    <p class="text-muted">
                      For cars: {{ product.auto_brand }}.
                    </p>
                  {% else %}
                    <p class="text-muted">
                      For all car brands.
                    </p>
                  {% endif %}
									<div>
										<p class="bg-price-color">price <span class="fs-3 dark-text-color">{{ product.price }}</span> €</p>
									</div>
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<a href="#" class="btn btn-outline-secondary btn-sm btn-width-min20">
											<i class="fa-solid fa-heart fa-lg"></i>
										</a>
										<a href="#" class="btn btn-color btn-sm btn-width-min50">
											Add to Cart
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}