{% extends "base.html" %}
{% load static %}

{% block page_header %}
	<div class="container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block location %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav style="--bs-breadcrumb-divider: '→';" aria-label="breadcrumb">
        <ol class="breadcrumb pt-1">
            <li class="breadcrumb-item align-middle">
              <a href="{% url 'home' %}" class="text-decor text-muted">Home</a>
            </li>
          {% if category %}
            <li class="breadcrumb-item align-middle">
              <a href="{% url 'products' %}" class="text-decor text-muted">
                All Accessories
              </a>
            </li>
            <li class="breadcrumb-item dark-text-color" aria-current="page">
              {{ category.get_display_name }}
            </li>
          {% elif auto_brand_name %}
            <li class="breadcrumb-item align-middle">Catalogue</li>
            <li class="breadcrumb-item dark-text-color" aria-current="page">
              {{ auto_brand_name }}
            </li>
          {% else %}
            <li class="breadcrumb-item dark-text-color" aria-current="page">
              All accessories
            </li> 
          {% endif %}
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
	<div class="container-fluid position-relative">
    {% if products|length > 1 %}
      <div class="row">
        <div class="col">
          <div class="row z-index">
            <div class="col d-flex justify-content-end product-list-top">
              <div class="dropdown z-index">
                <a class="btn btn-secondary dropdown-toggle custom-dropdown-button"
                  type="button"
                  id="dropdownSort"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  {% if sort_selected %}
                      {{ sort_selected }}
                  {% else %}
                      Sort
                  {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownSort">
                  <a class="dropdown-item"
                      href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=date_added">Newest First</a>
                  <a class="dropdown-item"
                      href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=name&order=asc">Name (A-Z)</a>
                  <a class="dropdown-item"
                      href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=name&order=desc">Name (Z-A)</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"
                      href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=price&order=asc">Price (low to high)</a>
                  <a class="dropdown-item"
                      href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=price&order=desc">Price (high to low)</a>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row px-5 mt-2">
			<div class="col">
				<div class="row">
					{% for product in products %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div class="card product-card mb-3">
                  <a href="{% url 'product_detail' product.slug %}">
                  <img src="{{ product.image_link }}"
                    class="card-img-top pt-3 px-3"
                    alt="{{ product.name }}"/>
								</a>
								<div class="card-body">
									<p class="card-title text-uppercase">{{ product.brand.get_display_name }}</p>
									<a href="{% url 'product_detail' product.slug %}" class="text-reset text-decor">
										<h3 class="card-text fs-5">{{ product.name }}</h3>
									</a>
									<p class="text-muted">SKU: {{ product.sku }}</p>
                  {% if product.auto_brand %}
                    <p class="text-muted">
                      For cars: {{ product.auto_brand }}.
                    </p>
                  {% else %}
                    <p class="text-muted">
                      For all car brands.
                    </p>
                  {% endif %}
									<div>
										<p class="bg-price-color">price <span class="fs-3 dark-text-color">{{ product.price }}</span> €</p>
									</div>
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<a href="#" class="btn btn-outline-secondary btn-sm btn-width-min20">
											<i class="fa-solid fa-heart fa-lg"></i>
										</a>
										<a href="#" class="btn btn-color btn-sm btn-width-min50">
											Add to Cart
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}